@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Montserrat-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
}

@import "./normalize";

.container {
  max-width: calc(1080px + clamp(10px, 7.29vw, 140px));
  margin: auto;
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
}

@keyframes blurAnimation {
  0% {
    transform: scale(1);
    filter: blur(100px);
  }
  50% {
    transform: scale(0.8);
    filter: blur(130px);
  }

  100% {
    transform: scale(1);
    filter: blur(100px);
  }
}

html {
  font-family: Montserrat;
}

.header {
  height: 80px;
}

.body {
  background-color: #000;
  min-height: 100vh;
}

.main {
  position: static;
  z-index: 2;
}

.home-page {
  flex-direction: column;
  display: flex;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(0, 27, 97, 0.6) 0%,
    rgba(36, 59, 120, 0.3) 100%
  );
}

.home-page__content {
  margin-top: 190px;
  max-width: 930px;
  width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  position: relative;
  z-index: 3;
  &::before {
    position: absolute;
    left: -638px;
    bottom: -51px;
    width: 857px;
    height: 870px;
    content: "";
    background-image: url(../img/bg-man.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    z-index: 1;
    @media (max-width: 1700px) {
      left: -450px;
    }
  }
}

.left-blur,
.right-blur {
  position: absolute;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: blur(100px);
    animation: blurAnimation 5s ease-in-out infinite 0s;
  }
}
.left-blur {
  left: 0px;
  top: 0px;
  width: 865px;
  height: 565px;
  transform: translate(-108%, -8%) rotate(25deg);
  @media (max-width: 1700px) {
    transform: translate(-80%, -8%) rotate(25deg);
  }
  z-index: -1;
}

.right-blur {
  right: 0;
  top: 0;
  height: 826px;
  width: 537px;
  transform: translate(125%, -25%) rotate(337deg);
  @media (max-width: 1700px) {
    transform: translate(80%, -25%) rotate(337deg);
  }
}
.home-page__wrapper {
  padding-bottom: 53px;
  display: flex;
  justify-content: center;
}

.home-page__title {
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 68px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.color-title {
  color: #0ff;
}

.home-page__descr {
  display: block;
  // max-width: 680px;
  color: #7f8da4;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 166%;
}

.home-page__form {
  position: absolute;
  bottom: 60px;
  left: clamp(10px, 7.29vw, 140px);
  right: clamp(10px, 7.29vw, 140px);
  transition: all 0.5s ease-in-out;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(189, 197, 206, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  &.blocked::before {
    opacity: 1;
    visibility: visible;

    cursor: progress;
  }
}

.form-label {
  display: flex;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
}

.form-field {
  border: none;
  outline: none;
  width: 100%;
  display: block;
  padding: 20px 30px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-btn {
  cursor: pointer;
  flex-shrink: 0;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 21px 30px;
  border-radius: 6px;
  background: #3182ff;
  display: flex;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.content-result {
  font-size: 18px;
  padding: 20px 0;
  color: #fff;
}

// 24.04

.application-zone {
  position: relative;
  overflow: hidden;
  padding: 0;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  // gap: 140px;
}

.application-zone__image {
  transition: transform 0.5s ease-in-out;
  width: 29vw;
  min-height: 100vh;
  border-radius: 0px 70px 70px 0px;
  border-right: 1px solid #0c1428;
  background: linear-gradient(90deg, #2b5abc 0%, #0b1c48 100%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  img {
    margin-top: 50px;
    width: 150%;
    object-position: bottom center;
  }
}

.application-zone__content {
  width: 71vw;
  min-height: 100vh;
  transition: width 0.5s ease-in-out;
}

.auth_form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
}
.auth_form__body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  background: #21293e;
  backdrop-filter: blur(5px);
  width: 100%;
}

.auth_zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.auth_form__head {
  margin-bottom: 40px;
}
.auth_form__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.auth_form__descr {
  color: #7f8da4;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 166.667%; /* 166.667% */
}

.auth_form__label {
  margin-bottom: 15px;
  display: block;
  span {
    color: #7f8da4;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 250%; /* 250% */
    text-transform: uppercase;
  }
  &.error {
    .label-filed-wrapper {
      border-color: #ff8383;
    }
  }
}

.form-errors {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  span {
    margin: 5px 0;
    display: block;
    color: #ff8383;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.label-filed-wrapper {
  display: flex;
  border-radius: 6px;
  border: 1px solid #4c5a71;
  position: relative;
  transition: border-color 0.2s ease-in-out;
  &.focus {
    border-color: #0ff;
  }
}

.filed-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 20px;
  padding-left: 54px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 187.5%; /* 187.5% */
  &._pass {
    padding-right: 50px;
  }
}
.label-filed__ico {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.custom-cb {
  cursor: pointer;
  width: fit-content;
  position: relative;
  .custom-cb__input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    z-index: 2;
  }

  .custom-cb__text {
    padding-left: 28px;
    display: block;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      border-radius: 3px;
      background: #4c5a71;
    }
  }
}

.label-filed__show-or-hide {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_380_226)'%3e%3cpath d='M10.5851 10.5869C10.21 10.9621 9.99942 11.4708 9.99951 12.0013C9.99961 12.5317 10.2104 13.0404 10.5856 13.4154C10.9607 13.7904 11.4695 14.0011 11.9999 14.001C12.5304 14.0009 13.039 13.7901 13.4141 13.4149' stroke='%237F8DA4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16.681 16.673C15.2782 17.5507 13.6547 18.0109 12 18C8.4 18 5.4 16 3 12C4.272 9.88003 5.712 8.32203 7.32 7.32603M10.18 6.18003C10.779 6.05876 11.3888 5.99845 12 6.00003C15.6 6.00003 18.6 8.00003 21 12C20.334 13.11 19.621 14.067 18.862 14.87' stroke='%237F8DA4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M3 3L21 21' stroke='%237F8DA4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_380_226'%3e%3crect width='24' height='24' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.custom-cb__input:checked + .custom-cb__text::before {
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none' %3e%3cg clip-path='url(%23clip0_380_234)'%3e%3cpath d='M5.3999 9.00005L8.0999 11.7L13.4999 6.30005' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_380_234'%3e%3crect width='18' height='18' fill='white' /%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

.submit-btn {
  margin-top: 50px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 21px 30px;
  width: 100%;
  border-radius: 6px;
  background: #3182ff;
  border: none;
  outline: none;
  cursor: pointer;
}

.home-page__content-inner {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  max-width: calc(1080px + clamp(10px, 7.29vw, 140px));
  width: 100%;
  align-items: flex-start;
  position: fixed;
  left: 30%;
  justify-content: center;
  padding: 0px clamp(10px, 7.29vw, 140px);
  bottom: 0px;
  top: 80px;
  .home-page__title {
    text-align: left;
  }
}

.auth_form__body.sending {
  .submit-btn {
    position: relative;
    color: #3182ff;
    &::before {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 32px 0 #fff, -32px 0 #fff;
      animation: flash 0.5s ease-out infinite alternate;
    }
  }
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 32px 0 #fff2, -32px 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff, -32px 0 #fff2;
  }
}

.application-zone {
  .home-page__title,
  .home-page__descr {
    transition: all 0.2s ease-in-out;
  }
  &.search-start {
    .application-zone__image {
      transform: translateX(-100%);
    }
    .home-page__content-inner {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 0px 20px;
    }
    .app-menu {
      left: 50%;
      transform: translateX(-50%);
      padding: 15px 15px;
      max-width: 1640px;
    }
    .home-page__title,
    .home-page__descr {
      opacity: 0;
      transform: translateY(100px);
    }
    .home-page__form {
      right: 20px;
      left: 20px;
    }
  }
  &.searchTransitionEnd {
    .home-page__content-inner {
      top: inherit;
      max-width: calc(1080px + clamp(10px, 7.29vw, 140px));
    }
    .home-page__form {
      right: 0px;
      left: 0px;
    }
    .application-zone__image {
      display: none;
    }
    .application-zone__content {
      width: 100%;
    }
    .home-page__title,
    .home-page__descr {
      display: none;
    }
  }
}

.app-menu {
  z-index: 10;
  transition: all 0.5s ease-in-out;
  max-width: calc(1080px - clamp(10px, 7.29vw, 140px));
  width: 100%;
  top: 0;
  left: 30%;
  padding: 15px clamp(10px, 7.29vw, 140px);
  position: fixed;
  display: flex;
  gap: 30px;
  // left: calc(29vw + clamp(10px, 7.29vw, 140px));
}

.app-menu__nav {
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 10px 40px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: flex-start;
  gap: 40px;
  a {
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}

.app-menu__logout {
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 40px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.render-zone {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.render-zone__content {
  overflow: auto;
  padding: 100px 0;
  padding-bottom: 180px;
  &::-webkit-scrollbar {
    width: 6px; /* Ширина всего элемента навигации */
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* Цвет дорожки */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #21293e; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
    border: 3px solid #21293e; /* Оформление границ бегунка */
    border-radius: 3px;
  }
}

.head-ico {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background-color: #3182ff;
  background-image: url("@/assets/img/ico-man.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-content {
  width: calc(100% - 80px);
  box-sizing: border-box;
}

.response__item {
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  width: 100%;
  border-radius: 10px;
  background: #21293e;
  backdrop-filter: blur(5px);
  padding: 30px 60px 20px 20px;
}

.agent-response {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #0c1428;
  padding: 12px 20px 12px 30px;
}
.agent-response__head {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
  text-transform: uppercase;
  &.open {
    .arrow {
      transform: rotate(-180deg);
    }
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.descr {
  margin-top: 30px;
  color: #7f8da4;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.5%; /* 162.5% */
}
.slide-up-down__container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  hr {
    width: 100%;
    opacity: 0.3;
  }
}

.agent-response__inner {
  padding-right: 20px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
  p {
    word-wrap: break-word;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%;
  }
}

.agent-report {
  margin-top: 50px;
  padding-left: 30px;
  border-left: 1px solid #4c5a71;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;

  a {
    color: #0ff;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%; /* 162.5% */
    word-wrap: break-word;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 180%; /* 180% */
  }
}

.agent-report__title {
  color: #0ff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
  text-transform: uppercase;
}

.agent-status {
  display: flex;
  align-items: center;
  margin-top: 60px;
  color: #7f8da4;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
}

.render-zone__response {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

// .status-ico {
//   width: 6px;
//   height: 6px;
//   border-radius: 50%;
//   display: block;
//   margin: 0 40px;
//   position: relative;
//   background: #fff;
//   box-shadow: -14px 0 #fff, 14px 0 #fff;
//   box-sizing: border-box;
//   animation: shadowPulse 2s linear infinite;
// }

.status-ico {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
  span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #0ff;
    &:nth-of-type(1) {
      animation: fadeDotds 3s ease-in-out infinite;
    }
    &:nth-of-type(2) {
      animation: fadeDotds 3s ease-in-out infinite 0.3s;
    }
    &:nth-of-type(3) {
      animation: fadeDotds 3s ease-in-out infinite 0.6s;
    }
    &:nth-of-type(4) {
      animation: fadeDotds 3s ease-in-out infinite 0.9s;
    }
    &:nth-of-type(5) {
      animation: fadeDotds 3s ease-in-out infinite 1.2s;
    }
  }
}

@keyframes fadeDotds {
  0% {
    background-color: #0ff;
  }
  50% {
    background-color: #008282;
  }
  100% {
    background-color: #0ff;
  }
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -14px 0 #0ff, 14px 0 #fff;
  }
  66% {
    background: #0ff;
    box-shadow: -14px 0 #fff, 14px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -14px 0 #fff, 14px 0 #0ff;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-in-enter-active,
.fade-in-leave-active {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in-enter-from,
.fade-in-leave-to {
  opacity: 0;
  transform: translateY(100px);
}

@media (max-width: 1700px) {
  .application-zone.search-start .app-menu {
    max-width: inherit;
    width: 90%;
  }
}

.agent-response__inner {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #4c5a71;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    height: 50px;
  }
}

.agent-report-btns {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 10px;

  .agent-report-btn {
    text-decoration: none;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 6px;
    border: 1px solid #4c5a71;
    color: #7f8da4;
    font-size: 14px;
    font-weight: 500;
    line-height: 185%;
    padding-left: 36px;
    background-repeat: no-repeat;
    background-position: center left 6px;
    background-size: 20px 20px;
    &._clipboard {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_351_96)'%3e%3cpath d='M5.83325 8.056C5.83325 7.46655 6.06741 6.90125 6.48421 6.48445C6.90101 6.06765 7.46631 5.8335 8.05575 5.8335H15.2774C15.5693 5.8335 15.8583 5.89098 16.1279 6.00267C16.3976 6.11437 16.6426 6.27807 16.849 6.48445C17.0553 6.69083 17.2191 6.93584 17.3307 7.20548C17.4424 7.47513 17.4999 7.76413 17.4999 8.056V15.2777C17.4999 15.5695 17.4424 15.8585 17.3307 16.1282C17.2191 16.3978 17.0553 16.6428 16.849 16.8492C16.6426 17.0556 16.3976 17.2193 16.1279 17.331C15.8583 17.4427 15.5693 17.5002 15.2774 17.5002H8.05575C7.76389 17.5002 7.47488 17.4427 7.20524 17.331C6.93559 17.2193 6.69059 17.0556 6.48421 16.8492C6.27783 16.6428 6.11412 16.3978 6.00243 16.1282C5.89074 15.8585 5.83325 15.5695 5.83325 15.2777V8.056Z' stroke='%237F8DA4' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M3.34333 13.9475C3.08779 13.8018 2.87523 13.5912 2.72715 13.3371C2.57906 13.0829 2.50071 12.7942 2.5 12.5V4.16667C2.5 3.25 3.25 2.5 4.16667 2.5H12.5C13.125 2.5 13.465 2.82083 13.75 3.33333' stroke='%237F8DA4' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_351_96'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    }
    &._pdf {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_351_102)'%3e%3cpath d='M12.6665 2.5V5.83333C12.6665 6.05435 12.7543 6.26631 12.9106 6.42259C13.0669 6.57887 13.2788 6.66667 13.4998 6.66667H16.8332' stroke='%237F8DA4' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M15.1667 17.5C14.7247 17.5 5.83341 17.5 5.83341 17.5C5.39139 17.5 4.96746 17.3244 4.6549 17.0118C4.34234 16.6993 4.16675 16.2754 4.16675 15.8333V4.16667C4.16675 3.72464 4.34234 3.30072 4.6549 2.98816C4.96746 2.67559 5.39139 2.5 5.83341 2.5H12.6667L16.8334 6.66667V15.8333C16.8334 16.2754 16.3453 17.0118 16.3453 17.0118C16.3453 17.0118 15.6088 17.5 15.1667 17.5Z' stroke='%237F8DA4' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M10 14.1665V9.1665' stroke='%237F8DA4' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M7.9165 12.0835L9.99984 14.1668L12.0832 12.0835' stroke='%237F8DA4' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_351_102'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    }
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(100px);
}

.agent-report {
  transition: height 0.3s ease-in-out;
}

@media (max-width: 1600px) {
  .auth_form {
    transform: translateX(-15%);
  }

  .app-menu,
  .home-page__content-inner {
    // max-width: calc(900px - clamp(10px, 7.29vw, 140px));
    max-width: 65vw;
    padding-left: 30px;
  }
  .home-page__form {
    left: 30px;
    right: 0px;
  }
}
@media (max-height: 700px) {
  .home-page__content-inner {
    justify-content: flex-start;
  }
}
@media (max-width: 1500px) {
  .home-page__title {
    font-size: 54px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1300px) {
  .container {
    max-width: 95%;
  }

  .application-zone__image {
    display: none;
  }
  .auth_form {
    transform: translateX(-50%);
    padding: 0px 30px;
    // max-width: inherit;
    width: 90%;
  }
  .app-menu {
    left: inherit;
    right: 0;
    width: 100%;
    max-width: none;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  .home-page__content-inner {
    width: 100% !important;
    max-width: none;
    left: 0 !important;
  }
  .home-page__form {
    // width: 100%;
    transform: none;
    left: 20px !important;
    right: 20px !important;
  }
  .application-zone.search-start .home-page__content-inner {
    transform: none;
    max-width: inherit;
    width: 100%;
  }
  .app-menu__nav {
    width: auto;
  }
  .application-zone__content {
    width: 100%;
  }
  .app-menu,
  .home-page__content-inner {
    // max-width: 100vw;
    // left: 0;
    // width: auto;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .app-menu__nav {
    display: none;
  }
  .app-menu__logout {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .app-menu {
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .response__item {
    padding-right: 20px;
    padding-top: 20px;
  }
  .agent-status {
    margin-top: 30px;
    margin-left: -80px;
  }
}

@media (max-height: 1080px) {
  .agent-response__inner {
    height: 250px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0;
  }
  .home-page__form {
    left: 10px !important;
    right: 10px !important;
  }
  .home-page__content-inner {
    justify-content: flex-start;
  }
  .home-page__form {
    bottom: 30px !important;
    .form-label {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      gap: 20px;
    }
    .form-field {
      text-align: center;
      border-radius: 6px;
      width: auto;
      padding: 20px;
    }
  }
  .home-page__title {
    font-size: 36px;
  }
  .home-page__descr {
    font-size: 16px;
  }
  .render-zone__content {
    padding-bottom: 200px;
  }

  .head-ico {
    display: none;
  }
  .agent-status {
    margin-left: 0;
    font-size: 10px;
    gap: 0;
    justify-content: space-between;
  }
  .item-content {
    width: 100%;
  }
  .agent-response__inner {
    height: 250px;
  }
  .descr {
    font-size: 12px;
    margin-top: 10px;
  }
  .agent-response {
    padding: 5px;
  }
  .agent-response__head {
    padding-right: 10px;
    box-sizing: border-box;
  }
  .agent-response__content {
    padding-left: 10px;
    padding-right: 5px;
  }
  .agent-response__head span {
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      margin-right: 20px;
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      background-color: #3182ff;
      background-image: url("@/assets/img/ico-man.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      border-radius: 6px;
    }
  }
  .status-ico {
    margin-right: 10px;
    gap: 10px;
  }

  .agent-response__head {
    border-radius: 10px;
    border-bottom: 1px solid transparent;
    padding: 5px;
    padding-right: 10px;

    transition: border-color 0.3s ease-in-out;

    &.open {
      border-color: #4c5a71;
    }
  }
  .slide-up-down__container {
    hr {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .auth_form__body {
    padding: 15px;
  }
}
